@{
    ViewData["Title"] = "Home Page";
}
@model VIndexSoruModel
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @for (int x = 0; x < Model.Soru.GetLength(0); x++)
    {
        <div>
            @for (int y = 0; y < Model.Soru.GetLength(1); y++)
            {               
                if (Model.Soru[x, y] == 1)
                {
                    <img src="Resimler/KahveRengi.png" width="20" height="20" />
                }
                else if (Model.Soru[x, y] == 0)
                {
                    <img src="Resimler/KoyuMavi.png" width="20" height="20" />
                }
                else
                {
                    <img src="Resimler/AcikMavi.png" width="20" height="20" />
                }
            }
        </div>
    }    
<p>
    ------------------------------------------------------------------------------------------
</p>

    @for (int x = 0; x < Model.Soru.GetLength(0); x++)
    {
        <div>
            @foreach (var item in Model.Cevaplar)
            {
                Model.Soru[item.xIndex, item.yIndex] = 0;
            }
            @for (int y = 0; y < Model.Soru.GetLength(1); y++)
            {
                if (Model.Soru[x, y] == 1)
                {                    
                    <img src="Resimler/KahveRengi.png" width="20" height="20" />
                }
                else if (Model.Soru[x, y] == 0)
                {
                    <img src="Resimler/KoyuMavi.png" width="20" height="20" />
                }
                else
                {
                    <img src="Resimler/AcikMavi.png" width="20" height="20" />
                }
            }
        </div>
    }
</div>
    <div>
        <button class="badge-success">
        </button>
    </div>
